
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 35px;
    width: 100%;
    background-color: #f6cd59;
    height: 80px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    position: fixed;
}

.nav, .nav-bar li {
    color: black;
    font-weight: 600;
}

.nav-bar {
    padding: 0;
}

.nav-item {
    padding: 20px 5px;
    transition: 0.5s;
}

.nav-item:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.page {
    width: 100%;
    min-height: calc(100vh - 80px); /*account for navbar*/
    display: flex;
    justify-content: center;
}

.page#login_page, .page#register_page {
    background-image: url(../assets/login_background.jpg);
    height: 100vh;
}

#login_form, #register_form {
    background-color: #f6cd59;
    width: 25%;
    text-align: center;
    margin: auto;
    border-radius: 3px;
    padding: 10px 20px 20px 20px;
}

label {
    padding-bottom: 2%;
}

.login input[type="text"], .login input[type="password"], .register input[type="text"], .register input[type="password"], #channel_form input[type="text"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    width: 90%;
    margin-bottom: 5%;
}

input[type="text"]:focus, input[type="password"]:focus {
    background: white;
}

.login .btn, .register .btn, #channel_form .btn {
    width: 70%;
    height: 30px;
    margin: 1rem;
    border: none;
    font-weight: 600;
    background-color: antiquewhite;
    border-radius: 2px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* Popup: https://www.w3schools.com/howto/howto_css_modals.asp */



.popup {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20vh; /* Location of the box */
    left: 0;
    top: 0;
    align-items: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}


/* Modal Content */
.popup_content {
    background-color: #fefefe;
    margin: auto;
    overflow: auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 50%;
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    cursor: pointer;
    color: #aaaaaa;
}

.search_filter {
    grid-area: search;
    background-color: #ea7f49;
}

#channel_list {
    grid-area: list;
    background-color: antiquewhite;
}

#channel_nav {
    grid-area: details;
    background-color: antiquewhite;
}

.container {
    display: block;
    align-items: center;
    justify-content: center;
}

.container {
    grid-area: content_container;
}

#channel_content {
    max-height: 76vh;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

#message_field {
    grid-area: msg_field;
    background-color: #ea7f49;
}

#user_options {
    grid-area: user_options;
    background-color: #ea7f49;
}

#application_page {
    padding-top: 80px;
    max-height: calc(100vh - 80px);
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr 10fr 1fr;
    gap: 1px;
    grid-template-areas: 
        "search details"
        "list content_container"
        "user_options msg_field"
    ;
}

.search_filter, #message_field, #user_options {
    display: flex;
    align-items: center;
    justify-content: center;
}

#channel_search, #msg_input {
    /* background-image: url('../assets/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat; */
    border: none;
    background-color: #fefefe;
    border-radius: 20px;
    width: 80%;
    font-size: 16px;
    padding: 2%;
}

#msg_input {
    padding: 0.5%;
    height: 20%;
}

#create_channel {
    background-color: transparent;
    border: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 40px;
}

#msg_send {
    margin-left: 2%;
    border: none;
    font-weight: 600;
    color: black;
    background-color: #f6cd59;
    font-size: 16px;
    padding: 0.5%;
    border-radius: 20px;
}

#image_icon {
    padding: 0.5%;
    margin: 2%;
    background-color: #f6cd59;
    border-radius: 50%;
}

#channel_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#channel_details {
    margin-left: 15px;
    /* display: none; */
}

h4 {
    margin: 0;
    line-height: 20px;
}

.channel_buttons img {
    margin-right: 15px;
}

.channel_buttons img {
    height: 30px;
}

.popup#new_channel .popup_content{
    background-color: #ea7f49;
    text-align: center;
}


#channel_form {
    margin: auto;
    width: 75%;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

#channel_form h1 {
    color: #fefefe;
}

/* Scroll bar for channel list: https://blog.hubspot.com/website/hide-scrollbar-css */

#channel_list, #channel_content, #pinned_messages_container {
    display: block;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}


/* chrome safari firefox */
#channel_list::-webkit-scrollbar,  #channel_content::-webkit-scrollbar, #pinned_messages_container::-webkit-scrollbar {
    display: none;
}

#pinned_messages_container {
    max-height: 50vh;
}



/* Individual channel styling */
#channel_list div {
    margin: 0 auto;
    margin-top: 5%;
    background-color: #40b3a2;
    height: 5%;
    width: 80%;
    color: white;
    font-weight: 600;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.react_button {
    transition: 0.5s;

}

.react_button:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

#channel_list *:hover {
    cursor: pointer;
}

.fas:hover {
    opacity: 0.1;
    cursor: pointer;
}

#edit_channel input[type="text"], #edit_message input[type="text"], #edit_message input[type="file"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    width: 60%;
    margin-bottom: 5%;
}

#edit_message input[type="file"] {
    border-bottom: none;
}

#channel_buttons {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

#channel_buttons .btn {
    width: 30%;
    padding: 2% 4%;
    border: none;
    border-radius: 3px;
}

#react_message_form .btn {
    background: transparent;
    width: 20%;
    font-size: 100%;
    border-radius: 3px;
}

#join_channel {
    background-color: #ea7f49;
}

#leave_channel {
    background-color: #40b3a2;
}

#invite_channel {
    background-color: #fefefe;
}


#error_pop_up {
    z-index: 99999;
}



#loading {
	opacity: 1;
    justify-content: center;
    align-items: center;
	transition: opacity .3s ease-in;
}


.ball {
	background-color: #c38d9d;
	border-radius: 50%;
	margin: 5px;
    margin-top: 15px;
	height: 5px;
	width: 10px;
	animation: jump 0.5s ease-in infinite;
}

.ball:nth-of-type(2) {
	animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		opacity: 1;
	}
	
	50% {
		opacity: 0.1;
	}
}



@media screen and (max-width: 756px) {
    #login_form, #register_form {
        width: 50%;
    }

    h1 {
        font-size: 24px;
    }
    .nav-item {
        font-size: 14px;
    }
    
    #brand:hover {
        cursor: pointer;
    }

    #application_page {
        padding-top: 80px;
        max-height: calc(100vh - 80px);
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10fr 1fr;
        gap: 1px;
        grid-template-areas: 
            "details"
            "content_container"
            "msg_field"
        ;
    }
    

    #react_message_form .btn {
        background: transparent;
        text-align: center;
        font-size: 16px;
        border: none;
    }

    .search_filter {
        display: none;
    }

    #channel_list {
        display: none;
    }

    #user_options {
        display: none;
    }

    #channel_buttons {
        margin-right: 14%;
    }

    #channel_buttons * {
        margin: 5px;
    }

    #channel_buttons .btn {
        width: 60%;
    }

    #channel_details {
        transform: scale(0.75);
        transform-origin: left;
    }


}